Source: heat
Section: web
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               dh-systemd,
               dh-python,
               openstack-pkg-tools (>= 20~),
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.6),
               python-sphinx
Build-Depends-Indep: python-babel (>= 1.3),
                     python-ceilometerclient (>= 1.0.6),
                     python-cinderclient (>= 1:1.1.0),
                     python-cliff (>= 1.6),
                     python-coverage (>= 3.6),
                     python-crypto,
                     python-eventlet (>= 0.16.1),
                     python-glanceclient (>= 1:0.15.0),
                     python-greenlet (>= 0.3.2),
                     python-hacking,
                     python-heatclient (>= 0.3.0),
                     python-httplib2 (>= 0.7.5),
                     python-iso8601 (>= 0.1.9),
                     python-keystoneclient (>= 1:1.1.0),
                     python-keystonemiddleware,
                     python-kombu (>= 2.5.0),
                     python-lxml (>= 2.3),
                     python-memcache,
                     python-migrate (>= 0.9.5),
                     python-mock (>= 1.0),
                     python-mox,
                     python-mysqldb,
                     python-netaddr (>= 0.7.12),
                     python-neutronclient (>= 2.3.11),
                     python-novaclient (>= 2:2.18.0),
                     python-oslo.config (>= 1.9.0),
                     python-oslo.context (>= 0.2.0),
                     python-oslo.db (>= 1.5.0),
                     python-oslo.i18n (>= 1.3.0),
                     python-oslo.log (>= 0.4.0),
                     python-oslo.messaging (>= 1.6.0),
                     python-oslo.middleware (>= 0.3.0),
                     python-oslo.serialization (>= 1.2.0),
                     python-oslo.utils (>= 1.2.0),
                     python-oslo.versionedobjects (>= 0.1.0),
                     python-oslosphinx (>= 2.2.0.0),
                     python-oslotest (>= 1.2.0),
                     python-osprofiler,
                     python-paramiko (>= 1.13.0),
                     python-paste,
                     python-pastedeploy,
                     python-posix-ipc,
                     python-psycopg2,
                     python-pycryptopp,
                     python-qpid,
                     python-requests (>= 2.2.0),
                     python-routes,
                     python-saharaclient (>= 0.7.6),
                     python-sendfile,
                     python-setuptools,
                     python-six (>= 1.9.0),
                     python-sqlalchemy (>= 0.9.7),
                     python-stevedore (>= 1.1.0),
                     python-subunit,
                     python-swiftclient (>= 1:2.2.0),
                     python-testscenarios (>= 0.4),
                     python-testtools (>= 0.9.36),
                     python-troveclient (>= 1.0.7),
                     python-webob (>= 1.2.3),
                     python-yaml,
                     subunit (>= 0.0.18),
                     testrepository (>= 0.0.18)
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/heat.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/heat.git
Homepage: http://wiki.openstack.org/Heat

Package: python-heat
Section: python
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: python-babel (>= 1.3),
         python-ceilometerclient (>= 1.0.6),
         python-cinderclient (>= 1:1.1.0),
         python-crypto,
         python-eventlet (>= 0.16.1),
         python-glanceclient (>= 1:0.15.0),
         python-greenlet (>= 0.3.2),
         python-heatclient (>= 0.3.0),
         python-httplib2 (>= 0.7.5),
         python-iso8601 (>= 0.1.9),
         python-keystoneclient (>= 1:1.1.0),
         python-keystonemiddleware,
         python-kombu (>= 2.5.0),
         python-lxml (>= 2.3),
         python-memcache,
         python-migrate (>= 0.9.5),
         python-mysqldb,
         python-netaddr (>= 0.7.12),
         python-neutronclient (>= 2.3.11),
         python-novaclient (>= 2:2.18.0),
         python-oslo.config (>= 1.9.0),
         python-oslo.context (>= 0.2.0),
         python-oslo.db (>= 1.5.0),
         python-oslo.i18n (>= 1.3.0),
         python-oslo.log (>= 0.4.0),
         python-oslo.messaging (>= 1.6.0),
         python-oslo.middleware (>= 0.3.0),
         python-oslo.serialization (>= 1.2.0),
         python-oslo.utils (>= 1.2.0),
         python-oslo.versionedobjects (>= 0.1.0),
         python-osprofiler,
         python-paste,
         python-pastedeploy,
         python-pbr (>= 0.6),
         python-posix-ipc,
         python-pycryptopp,
         python-qpid,
         python-requests (>= 2.2.0),
         python-routes,
         python-saharaclient (>= 0.7.6),
         python-sendfile,
         python-setuptools,
         python-six (>= 1.9.0),
         python-sqlalchemy (>= 0.9.7),
         python-stevedore (>= 1.1.0),
         python-swiftclient (>= 1:2.2.0),
         python-troveclient (>= 1.0.7),
         python-webob (>= 1.2.3),
         python-yaml,
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack orchestration service - Python files
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the Python libraries.

Package: heat-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dbconfig-common,
         python-heat (=${binary:Version}),
         ${misc:Depends},
         ${python:Depends}
Description: OpenStack orchestration service - common files
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the common files.

Package: heat-engine
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         heat-common (=${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack orchestration service - engine
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the heat engine, which is the core service of heat, and
 which the API servers will use.

Package: heat-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         heat-common (=${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack orchestration service - ReST API
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the ReST API.

Package: heat-api-cfn
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         heat-common (=${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack orchestration service - CFN API
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the CloudFormation (CFN) API.

Package: heat-api-cloudwatch
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         heat-common (=${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack orchestration service - CloudWatch API
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the CloudWatch API.

Package: heat-doc
Architecture: all
Section: doc
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Description: OpenStack orchestration service - Documentation
 Heat is a service to orchestrate multiple composite cloud applications using
 templates, through both an OpenStack-native ReST API and a
 CloudFormation-compatible Query API.
 .
 This package contains the documentation.
